<form action="/recipes" method="POST">
    <h3>Enter new recipe: </h3>     
      <p>Name:  <input type="text" name="name">
      <p>Ingredients: <input type="text" name="ingredients">
      <p>Cook_Time: <input type="text" name="cook_time"><p>
      <input type="submit" id="submit" content="submit"></p>
</form>